{% extends 'the_redhuman_is/base.html' %}
<style>
label {
  font-weight: 700;
}
</style>
{% block content %}

    <p><label>Дата внесения: </label>{{ worker.input_date|date:"G:i d.m.Y" }}</p>
    <p><label>Фамилия: </label>{{ worker.last_name }}</p>
    <p><label>Имя: </label>{{ worker.name }}</p>
    <p><label>Отчество: </label>{{ worker.patronymic }}</p>
    <p><label>Номер паспорта: </label>{{ worker.passport_number }}</p>
    <p><label>Дата рождения: </label>{{ worker.birth_date|date:"d.m.Y" }}</p>
    <p><label>Миграционная карта, серия: </label>{{ worker.mig_series }}</p>
    <p><label>Миграционная карта, номер: </label>{{ worker.mig_number }}</p>
    <p><label>Миграционная карта, дата выдачи: </label>{{ worker.m_date_of_issue|date:"d.m.Y" }}</p>
    <p><label>Миграционная карта, дата окончания: </label>{{ worker.m_date_of_exp|date:"d.m.Y" }}</p>
    <p>
      <a href="{% url 'the_redhuman_is:worker_edit' pk=worker.pk %}"><button>Редактировать</button></a>
      <a href="{% url 'the_redhuman_is:worker_del' pk=worker.pk %}"><button>Удалить</button></a>
    </p>
    <p><label>Из паспорта: </label>{{ workerpass.passport_type }}</p>
    <p><label>Паспорт, дата выдачи: </label>{{ workerpassport.date_of_issue|date:"d.m.Y" }}</p>
    <p><label>Из регистрации: </label>{{ workerreg.city }}</p>

{% endblock %}
