<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Карточка персональных данных</title>
  </head>
  <body>
  <style>
   p {
    margin-top: 10px;
    margin-bottom: -9px;
   }
   legend {
    font-size: 120%;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: -9px;
   }
   fieldset {
    margin-top: 5px;
    margin-bottom: -5px;
   }
   .layer1 {
    width: 300px;
   }
   .layer2 {
    width: 450px;
   }
  </style>

  <form action="" method="get">
    <input name="s" placeholder="Искать здесь..." type="search" required>
    <button type="submit">Поиск</button>
  </form>

  <table>
    <tr><th>№ п/п</th><th>ФИО</th><th>Дата кончания мигр.</th><th>Дата последнего выхода</th><th>Остаток к выплате</th><th>Номер телефона</th><th>Комментарий</th></tr>

    </tr>
  </table>
  </body>
  </html>
